<link rel="stylesheet" href="/css/style.css">
<style>
    .lead {
        font-size: 1.25rem;
        font-weight: 300;
    }
    
</style>
{{> navbar}}

<div class="post-section">
<div class="wrapper">
    {{!-- <!-- Feed start--> --}}
    <div class="post-cardL" id="postUrl">
      <h4 class="post-title">{{title}}</h4>
      {{!-- <p class="lead user-name"> Author: <a href="#">{{fullName}}</a> </p> --}}
      <div class="d-flex" style="justify-content: space-between;">
        <p class="post-content">Chop etilgan: {{createdAt}}</p>
        <p> <i class="fas fa-eye"></i><span>{{count}}</span> </p>
      </div>
      <div class="post-img">
        <img src="/uploads/{{image}}" alt="{{title}}" class="img-fluid rounded">
      </div>
        <hr>
            <p class="blog-text">{{{content}}} </p>
        <hr>
        {{#if isLogged}}
            <form class="form-control mb" action="/post/delete?post={{slugUrl}}" method="POST">
                <a href="/post/edit?post={{slugUrl}}" class="btn btn-secondary">Postni tahrirlash</a>
                <button type="submit" class="btn btn-danger">Postni o'chirish</button>
            </form>
            {{else}}

                <div class="row mb-4">
                    <div class="post-like">
                        <div class="post-like-btn">
                            <button class="share-btn" id="share">
                            <i class="fas fa-share-alt"></i>
                            </button>
                             <i class="fas fa-comment comentBtn" onclick="comentFun()"></i> 
                        <hr>
                        </div>                 
                <div class="row">
                    <div class="col-md-6">
                        <div class="col collapse multi-collapse" id="multiCollapseExample1">
                            <p id="user-name">{{fullName}}</p> 
                            <div class="col-sm-12 comments-card">
                                <form action="/send/comment" method="POST">
                                    <div class="textarea-btn p-3">
                                        <input type="email" class="form-control comment comment-email" id="email" name="email" placeholder="name@example.com">
                                        <textarea type="text" class="form-control comment-input" placeholder="add a comment" id="content" name="content"></textarea>
                                        <button  type="submit" class="btn-comment" id="btn-comment">Comment</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        </div>
                    {{/if}}
                </div>
                    </div>
                        <div class="coment-model">
                            Izohlar
                             {{#each comments}}
                                <ul id="comment-list">
                                    <b>Email: </b>  {{email}}  <br>
                                    <b> Izoh:  </b> {{content}}
                                </ul>
                               {{/each}}
                        </div>
                </div>
    </div>
    </div>


    <div class="col-md-4 scroller-card">
            <div class="card ">
                <div class="card-header">
                    <h5>Kun iqtibos</h5>
                </div>
                <div class="card-body">
                    <p class="quote">
                        {{quote.quote}}
                    </p>
                </div>
                <div class="card-footer">
                    {{quote.author}}
                </div>
            </div>
            <div class="post-all-blogs">
                <h2><a href="/blogs">Barcha yangiliklar</a></h2>
                <div class="row">
                    {{!-- {{#if blogs}} --}}
                    <div class="col post-view-cards" style="overflow-y: scroll;">
                {{#each blogs}}
                        <div class="row g-0">
                            <div class="col-md-4 post-all-child">
                            <a href="/blogpost?post={{slugUrl}}">
                                 <img class="img" id="post-scroll-img" src="/uploads/{{image}}" alt="{{title}}">
                            </a> 
                            </div>
                            <div class="col-md-4 post-all-child2">
                                <div class="card-body">
                                    <h5 class="card-title">{{title}}</h5>
                                    <p class="card-text"><small class="text-muted">Chop etilgan: {{createdAt}}</small></p>
                                </div>
                            </div>
                        
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
    </div>
  </div>
</div>
{{> footer}}


<script type="text/javascript">
    // Share

let shareBtn = document.querySelector('#share')
let postUrl = document.querySelector('#postUrl')
let shareData = {
     title: "Qashqadaryo-ATT.uz", 
     text: "Ulashish",
     url: `/blogpost?post={{slugUrl}}`
}
shareBtn.addEventListener("click", () => {
      navigator.share(shareData);
});

// Share end
function comentFun() {
     const comentBtn = document.querySelector('.comentBtn');
    const comentImp = document.querySelector('#multiCollapseExample1');
       
        comentBtn.addEventListener('click', () => {
            comentImp.classList.toggle('active');
        });
}


</script>

